@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Jomhuria&family=Open+Sans:wght@300&family=Playpen+Sans:wght@500&display=swap');


*{
  margin : 0px;
  padding : 0px;
  box-sizing: border-box;
}

.appContainer{
   height: 100%;
   background-color: rgb(243, 218, 218);
   border-radius: 5px;
}